/*  RESET
-------------------------------------------------------------------------- */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
code, em, img, strong, sub, sup, b, i, dl, dt, dd, ol, ul, li, fieldset, form,
label, table, tbody, tfoot, thead, tr, th, td, audio, video, a
{ border: 0; font: inherit; font-size: 100%; margin: 0; padding: 0; vertical-align: baseline; }

img { display: block; }

input, select, textarea, button { margin: 0; }
label, button { cursor: pointer; }
input, select { vertical-align: middle; }
input[type="checkbox"] { vertical-align: bottom; }
input[type="radio"] { vertical-align: text-bottom; }
textarea { border: 0; overflow: auto; }

table { border-collapse: collapse; border-spacing: 0; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }






/*  ELEMENTS
-------------------------------------------------------------------------- */
body, select, input, textarea { color: #; font: px/normal serif; }




/*  GLOBAL
-------------------------------------------------------------------------- */





/*  FORMS
-------------------------------------------------------------------------- */







/*  ACCESSIBILITY
-------------------------------------------------------------------------- */
a:hover, a:active { outline: none; }




/*  SELECTION
-------------------------------------------------------------------------- */
::-moz-selection{ background: #; color: #; text-shadow: none; }
::selection { background: #; color:#; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #; }




/*  BROWSER TARGETING
-------------------------------------------------------------------------- */
/*  FF  */
button::-moz-focus-inner { border: 0; padding: 0; }

/*  IE  */
.ie7 img { -ms-interpolation-mode: bicubic; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }




/*  NON-SEMANTIC CLASSES
-------------------------------------------------------------------------- */
/*  CLEARFIX  */
.clearfix:before,
.clearfix:after { content: "\0020"; height: 0; display: block; overflow: hidden; }
.clearfix:after { clear: both; }
.ielt9 .clearfix { zoom: 1; }


/*  IMAGE REPLACEMENT  */
.ir { background-repeat: no-repeat; display: block; overflow: hidden; text-align: left; text-indent: -9999px;  }


/*  HIDE  */
.hidden { display: none; visibility: hidden; }
.hidden_vis { width: 1px !important; height: 1px !important; border: 0 !important; clip: rect(0 0 0 0); margin: -1px !important; overflow: hidden !important; padding: 0 !important; position: absolute !important; }








/*  PRINT
-------------------------------------------------------------------------- */
@media print {
    @page { margin: 0.5cm; }
    * { background: transparent !important; color: black !important; text-shadow: none !important;
            filter: none !important;
        -ms-filter: none !important; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    h2, h3, p { orphans: 3; widows: 3; }
    h2, h3{ page-break-after: avoid; }
    a, a:visited { color: #444 !important; text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    .ir a:after,a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    abbr[title]:after { content: " (" attr(title) ")"; }
}