# ----------------------------------------------------------------------
# rewrites
# ----------------------------------------------------------------------

<IfModule mod_rewrite.c>
    RewriteEngine On
</IfModule>

# www handling
<IfModule mod_rewrite.c>
    RewriteCond %{HTTPS} !=on
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
</IfModule>

# remove trailing hash
<IfModule mod_rewrite.c>
    RewriteRule ^(.*)/$ /$1 [R=301,L]
</IfModule>




# ----------------------------------------------------------------------
# security & errors
# ----------------------------------------------------------------------

# error views
#ErrorDocument 404 /error.html


# directories
Options -Indexes

# hidden directories
<IfModule mod_rewrite.c>
    RewriteRule "(^|/)\." - [F]
</IfModule>


# prevent 404 for non-existent directories
Options -MultiViews


# set php register_globals option to off
php_flag register_globals Off


# cookies
<IfModule php5_module>
    php_value session.cookie_httponly true
</IfModule>




# ----------------------------------------------------------------------
# gzip compression
# ----------------------------------------------------------------------

<IfModule mod_deflate.c>
    <IfModule mod_setenvif.c>
        <IfModule mod_headers.c>
            SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s,?\s(gzip|deflate)?|X{4,13}|~{4,13}|-{4,13})$ HAVE_Accept-Encoding
            RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
        </IfModule>
    </IfModule>

    # html, css, js, json, xml, txt, htc
    <IfModule filter_module>
        FilterDeclare   COMPRESS
        FilterProvider  COMPRESS  DEFLATE resp=Content-Type /text/(html|css|javascript|plain|x(ml|-component))/
        FilterProvider  COMPRESS  DEFLATE resp=Content-Type /application/(javascript|json|x-javascript|xml)/
        FilterChain     COMPRESS
        FilterProtocol  COMPRESS  change=yes;byteranges=no
    </IfModule>

    <IfModule !mod_filter.c>
        # legacy apache versions
        AddOutputFilterByType DEFLATE text/html text/css text/plain application/json
        AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript 
        AddOutputFilterByType DEFLATE text/xml application/xml text/x-component
    </IfModule>

    # webfonts
    <FilesMatch "\.(ttf|otf|eot|svg)$" >
        SetOutputFilter DEFLATE
    </FilesMatch>
</IfModule>




# ----------------------------------------------------------------------
# encoding
# ----------------------------------------------------------------------

AddDefaultCharset utf-8
AddCharset utf-8 .html .css .js .json .xml .rss




# ----------------------------------------------------------------------
# mime types
# ----------------------------------------------------------------------

# webfonts
AddType         application/vnd.ms-fontobject       eot
AddType         font/truetype                       ttf
AddType         font/opentype                       otf
AddType         application/x-font-woff             woff

# svg
AddType         image/svg+xml                       svg svgz 
AddEncoding     gzip                                svgz

# media
AddType         video/ogg                           ogv
AddType         video/mp4                           mp4
AddType         video/webm                          webm
AddType         audio/ogg                           oga ogg

# other
AddType         text/cache-manifest                 appcache manifest
AddType         text/x-component                    htc
AddType         image/x-icon                        ico
AddType         image/webp                          webp
AddType         application/x-chrome-extension      crx
AddType         application/x-xpinstall             xpi
AddType         application/octet-stream            safariextz




# ----------------------------------------------------------------------
# expires headers
# ----------------------------------------------------------------------

# far-future expires headers assuming versioning with cachebusting query params
# without, lower css & js to approx. "access plus 1 week"

#<IfModule mod_expires.c>
#    ExpiresActive on
#    ExpiresDefault                              "access plus 1 month"

#    ExpiresByType text/cache-manifest           "access plus 0 seconds"

#    ExpiresByType text/html                     "access plus 0 seconds"
#    
#    ExpiresByType text/xml                      "access plus 0 seconds"
#    ExpiresByType application/json              "access plus 0 seconds"
#    ExpiresByType application/xml               "access plus 0 seconds"
    
#    ExpiresByType application/rss+xml           "access plus 1 hour"
    
    # favicon
#    ExpiresByType image/x-icon                  "access plus 1 week" 

    # css & js
#    ExpiresByType text/css                      "access plus 1 month"
#    ExpiresByType text/javascript               "access plus 1 month"
#    ExpiresByType application/javascript        "access plus 1 month"

    # media
#    ExpiresByType image/png                     "access plus 1 month"
#    ExpiresByType image/jpg                     "access plus 1 month"
#    ExpiresByType image/jpeg                    "access plus 1 month"
#    ExpiresByType image/gif                     "access plus 1 month"
#    ExpiresByType video/mp4                     "access plus 1 month"
#    ExpiresByType video/webm                    "access plus 1 month"
#    ExpiresByType video/ogg                     "access plus 1 month"
#    ExpiresByType audio/ogg                     "access plus 1 month"
  
    # webfonts
#    ExpiresByType font/truetype                 "access plus 1 month"
#    ExpiresByType font/opentype                 "access plus 1 month"
#    ExpiresByType font/woff                     "access plus 1 month"
#    ExpiresByType image/svg+xml                 "access plus 1 month"
#    ExpiresByType application/vnd.ms-fontobject "access plus 1 month"

    # htc
#    ExpiresByType text/x-component              "access plus 1 month"

#    <IfModule mod_headers.c>
#        Header append Cache-Control "public"
#    </IfModule>
#</IfModule>




# ----------------------------------------------------------------------
# etag
# ----------------------------------------------------------------------

FileETag None




# ----------------------------------------------------------------------
# filename-based cache busting
# ----------------------------------------------------------------------

# will route requests for /css/style.0000.css to /css/style.css
#<IfModule mod_rewrite.c>
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteRule ^(.+)\.(\d+)\.(css|js|png|jpg|gif)$ $1.$3 [L]
#</IfModule>




# ----------------------------------------------------------------------
# css & js concatenation
# ----------------------------------------------------------------------

# inside of script.concat.js you could have
# <!--#include file="libs/jquery-1.5.0.min.js" -->

#<FilesMatch "\.concat\.(js|css)$">
#    Options +Includes
#    SetOutputFilter INCLUDES
#</FilesMatch>




# ----------------------------------------------------------------------
# webfonts
# ----------------------------------------------------------------------

# allow access from all domains for webfonts
#<FilesMatch "\.(ttf|otf|eot|woff|font.css)$">
#    <IfModule mod_headers.c>
#        Header set Access-Control-Allow-Origin "*"
#    </IfModule>
#</FilesMatch>




# ----------------------------------------------------------------------
# force application download
# ----------------------------------------------------------------------

#AddType application/octet-stream .dmg




# ----------------------------------------------------------------------
# ie
# ----------------------------------------------------------------------

# chrome frame
<IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
        BrowserMatch MSIE ie
        Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
    </IfModule>
</IfModule>

<IfModule mod_headers.c>
    Header append Vary User-Agent
</IfModule>


# css rollovers
#BrowserMatch "MSIE" brokenvary=1
#BrowserMatch "Mozilla/4.[0-9]{2}" brokenvary=1
#BrowserMatch "Opera" !brokenvary
#SetEnvIf brokenvary 1 force-no-vary